.hNNCfw {
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(230, 64, 39);
}
.fyqddm {
  flex: 1 1 0%;
  background-repeat: no-repeat;
  background-image: url('https://nivo.rocks/static/chord-6892870901033703cc9c2a2391b609ed.png');
  background-size: contain;
  background-position: center bottom;
}

.fpiCZP {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid rgba(242, 80, 56, 0.467);
  border-bottom: 1px solid rgba(242, 80, 56, 0.467);
  padding: 7px 0px;
  font-size: 14px;
  line-height: 1em;
}
