.root {
  display: flex;
  width: 900px;
  height: 100%;
}
.text {
  height: 100%;
  width: 190px;
  margin: 10px 20px 20px 0px;
  padding-right: 0px;
}
.left-side {
  width: 350px;
  height: 100%;
}
.right-side {
  height: 100%;
  width: 350px;
}
.h1 {
  font-size: 50px;
  font-weight: 500;
  font-family: Didot, serif;
}
.p {
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: 100;
}

.bottom {
  height: 50%;
  overflow: hidden;
  display: flex;
  align-items: end;
}
.top {
  height: 50%;
  z-index: 2;
  overflow: hidden;
  border: 3px solid #ffffff;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.vertical {
  flex-direction: column;
  width: 80%;
  align-items: end;
  height: 100%;
}
.graphWrapper {
  animation: rotating 55s linear infinite;
}

