.root {
  gap: 15px;
  contain: size;
  display: grid;
  grid-auto-rows: minmax(0, 1fr);
  grid-template-columns: repeat(5, minmax(0, 1fr));
  align-items: start;
  padding: 0px;
  height: 100%;
  width: 100%;
}
.grid-element {
  height: 100%;
  contain: size;
  background-color: rgba(229, 69, 69, 0);

}

.grid-span3 {
  grid-column: 2 / span 3;
}
.title {
  margin: 0px;
}
